<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>HEMANTH SAI KUMAR PENTAKOTA</h1>
    <h2>He/Him</h2>
    <h2>A Data Geek | From Raw to Real-World Impact</h2>
    <p>I’m a passionate data science student with a strong interest in both data engineering and machine learning. I enjoy working with real-world datasets, creating impactful visualizations, and solving problems through analytical thinking and automation.

My experience spans tools like Tableau, Power BI, Excel, Python, R language and Java. I have a solid foundation in relational databases such as MySQL and PostgreSQL, and hands-on exposure to ETL tools like Alteryx AI Studio and Informatica Developer. I'm also familiar with version control using Git, and actively practice data structures and algorithms to sharpen my problem-solving abilities.

Currently, I’m focused on strengthening my technical capabilities by contributing to open-source projects, learning backend systems, and building scalable data workflows. I’m particularly interested in how data can drive meaningful decisions, and I aspire to work at the intersection of data science, engineering, and intelligent systems.

I value continuous learning, adaptability, and collaboration, and I’m always open to new opportunities that challenge and inspire growth.</p>
</body>
</html>
