body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
    color: #555;
}

.profile-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
